<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Meal List</title>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <%- include('./partials/font.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
</head>
  <body>
    <div class="nav-container">
      <%- include('./partials/header.ejs') %>

      <div class="logout">
        <button><a class="" href="/mylist">Back to my list</a></button>
        <button><a class="" href="/">Logout</a></button>
      </div>

  </div>
      <form action="/mylist/<%=meals.id%>?_method=DELETE" method="POST">
        <div class="restaurant-body">
          <button class="delete-btn" type="submit" value="DELETE">Delete</button>
      </form>
      <form action="/mylist/<%=meals.id%>?_method=PUT" method="POST">
          *Restaurant Name:</br> <input type="text" name="restaurantName" value="<%=meals.restaurantName%>"/><br/>
          *Location:</br>  <input type="text" name="location" value="<%=meals.location%>" /><br/>
          *Rating:</br>  <input type="number" min="1" max="5" maxlength="1" name="rating" value="<%=meals.rating%>" /><br/>
        <!-- cant figure out how to make the date value to show up -->
          *Date:</br>  <input type="text" name="date" value="<%=meals.date%>" ><br/>
        </div>
        <div class="name-body">
          *Name: <input type="text" name="name" value="<%=meals.name%>"/><br/>
          Appetizer: <input type="text" name="appetizer" value="<%=meals.appetizer%>"/><br/>
          Entree: <input type="text" name="entree" value="<%=meals.entree%>"/><br/>
          Dessert: <input type="text" name="dessert" value="<%=meals.dessert%>"/><br/>
          Alcoholic Drink: <input type="text" name="alcoholicDrink" value="<%=meals.alcoholicDrink%>"/><br/>
          Non-Alcoholic Drink: <input type="text" name="nonAlcoholicDrink" value="<%=meals.nonAlcoholicDrink%>"/><br/>
          <button class="" type="submit" value="Submit Changes">Submit Changes</button>
          <p>* field is required.</p>
      </form>
        </div>
        <div class="footer">
          <%- include('./partials/footer.ejs') %>
        </div>
  </body>
</html>
