<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Meal List</title>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <%- include('./partials/font.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
</head>
  <body>

    <div class="nav-container">
      <%- include('./partials/header.ejs') %>

      <div class="logout">
        <button><a class="" href="/home">Back to home</a></button>
        <button><a class="" href="/">Logout</a></button>
      </div>
  </div>
    <!-- <div class="flex-container"> -->
<!-- https://medium.com/@saumyashah717/making-a-simple-search-bar-with-javascript-6cff1554d13c -->

    <div class="search">
      <button><a class="btn btn-primary" href="/mylist/add">Add Restaurant</a></button>

      <input type = "text" id = "searchBar" oninput = "Search((this.value).toLowerCase())" placeholder = "Search restaurants" size="80">
    </div>
      <div class="container">
    <% for(let i = 0; i < meals.length; i++){ %>
        <div class="card-body">
          <p class="card-title"><%=meals[i].restaurantName%></p>
          <p class="card-text"><%=meals[i].location%></p>
          <p class="card-text">Rating: <%=meals[i].rating%></p>
          <button><a class="btn btn-primary" href="/mylist/<%=meals[i]._id%>">View</a></button>
          <button><a class="btn btn-primary" href="/mylist/<%=meals[i]._id%>/edit">Edit/Delete</a></button>
        </div>
        <% } %>
      </div>
      <!-- </div> -->

  <div class="footer">
    <%- include('./partials/footer.ejs') %>
  </div>

<script>
  function Search(item){
          let collection = document.getElementsByClassName("card-title");
          let card = document.getElementsByClassName("card-body")

          for (i = 0; i < collection.length; i++){
              if (((collection[i].innerHTML).toLowerCase()).indexOf(item) > -1) {
                  collection[i].style.display = "block"
                  card[i].style.display = "block";
                  } else {
                      collection[i].style.display = "none"
                      card[i].style.display = "none";
                      }
          }
  }
</script>
  </body>
</html>
