<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meal List</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%- include('./partials/font.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="nav-container">
      <%- include('./partials/header.ejs') %>

      <div class="logout">
        <button><a class="" href="/mylist">Back to my list</a></button>
        <button><a class="" href="/">Logout</a></button>
      </div>
  </div>


      <div class="restaurant-body">
        <p class="card-text">Restaurant Name: <%=meals.restaurantName%></p>
        <p class="card-text">Location: <%=meals.location%> </p>
        <p class="card-text">Rating: <%=meals.rating%> </p>
        <p class="card-text">Date: <%=meals.date%></p>
      </div>
      <div class="name-body">
        <p class="card-text">Name: <%=meals.name%> </p>
        <p class="card-text">Appetizer: <%=meals.appetizer%> </p>
        <p class="card-text">Entree: <%=meals.entree%> </p>
        <p class="card-text">Dessert: <%=meals.dessert%> </p>
        <p class="card-text">Alcoholic Drink: <%=meals.alcoholicDrink%> </p>
        <p class="card-text">Non-Alcoholic Drink: <%=meals.nonAlcoholicDrink%></p>
        <button><a class="btn btn-primary" href="/mylist/<%=meals.id%>/edit">Edit</a></button>
      </div>


    <div class="footer">
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
